manifest {
    mainScript = 'ribap.nf'
}

// default parameters
params {
  cores = '4'
  memory = '8.GB'
  help = false
  profile = false

  // input
  fasta = ''
  list = false

  // parameters
  gcode = 0
  tree = false
  sets = false

  // folder structure
  output = 'results'

  // optional profile configurations, only necessary for HPC LSF execution
  workdir = "/tmp/nextflow-work-$USER"
  cloudDatabase = false
  cachedir = false

}

profiles {

    standard { 
        params.cloudProcess = false
        params.cloudDatabase = false
        includeConfig 'configs/local.config' }

    conda { 
        params.cloudProcess = false
        params.cloudDatabase = false
        includeConfig 'configs/conda.config' }

    lsf {
        params.cloudProcess = true
        includeConfig 'configs/lsf.config' }

    ebi {
        params.cloudProcess = true
  	params.workdir = "/hps/nobackup2/production/metagenomics/mhoelzer/nextflow-work-$USER"
  	params.cloudDatabase = "/homes/$USER/data/nextflow-databases/"
  	params.cachedir = "/hps/nobackup2/singularity/$USER"
        includeConfig 'configs/lsf.config' }

    slurm {
        params.cloudProcess = true
  	params.workdir = "/beegfs/rna-hta/wi74fij/work"
  	params.cloudDatabase = "/beegfs/rna-hta/wi74fij/nextflow-databases/"
        includeConfig 'configs/slurm.config' }

    research {
        params.cloudProcess = true
  	params.workdir = "/hps/research1/finn/mhoelzer/nextflow-work-$USER"
  	params.cloudDatabase = "/homes/$USER/data/nextflow-databases/"
  	params.cachedir = "/hps/nobackup2/singularity/$USER"
        includeConfig 'configs/lsf.config' }

}
