        process {
            withLabel: basics {		conda = "$baseDir/envs/basics.yaml" } 
            withLabel: bioruby { 	conda = "$baseDir/envs/bioruby.yaml" } 
            withLabel: python3 { 	conda = "$baseDir/envs/python_ribap.yaml" } 
            withLabel: prokka { 	conda = "$baseDir/envs/prokka.yaml" }
            withLabel: roary { 		conda = "$baseDir/envs/roary.yaml" }
            withLabel: mmseqs2 { 	conda = "$baseDir/envs/mmseqs2.yaml" }
            withLabel: glpk {  		conda = "$baseDir/envs/glpk.yaml" }
            withLabel: mafft { 		conda = "$baseDir/envs/mafft.yaml" }
            withLabel: fasttree { 	conda = "$baseDir/envs/fasttree.yaml" }
            withLabel: newick_utils { 	conda = "$baseDir/envs/newick_utils.yaml" }
            withLabel: filter_alignments {		conda = "$baseDir/envs/cdhit.yaml" }
            withLabel: nexus {		conda = "$baseDir/envs/basics.yaml" } 
            withLabel: iqtree {  		conda = "$baseDir/envs/iqtree.yaml" }
            withLabel: upsetr { 	conda = "$baseDir/envs/upsetr.yaml" }
        }
