workDir = params.workdir
process.executor = 'local'

        process {
            withLabel: basics { cpus = 1 ; conda = 'envs/basics.yaml' } 
            withLabel: python3 { cpus = 1 ; conda = 'envs/python_ribap.yaml' } 
            withLabel: prokka { cpus = params.cores ; conda = 'envs/prokka.yaml' }
            withLabel: roary { cpus = params.cores ; conda = 'envs/roary.yaml' }
            withLabel: mmseqs2 { cpus = params.cores ; conda = 'envs/mmseqs2.yaml' }
            withLabel: glpk { cpus = 1 ; memory = params.memory;  conda = 'envs/glpk.yaml' }
            withLabel: mafft { cpus = 1 ; conda = 'envs/mafft.yaml' }
            withLabel: fasttree { cpus = 1 ; conda = 'envs/fasttree.yaml' }
            withLabel: newick_utils { cpus = 1 ; conda = 'envs/newick_utils.yaml' }
            withLabel: raxml { cpus = params.cores ; conda = 'envs/raxml.yaml' }
        }
