        process {
            withLabel: basics { cpus = 1 }
            withLabel: bioruby { cpus = 2 }
            withLabel: python3 { cpus = 1 }
            withLabel: prokka { cpus = params.cores }
            withLabel: roary { cpus = params.cores }
            withLabel: mmseqs2 { cpus = params.cores }
            withLabel: glpk { cpus = params.cores ; memory = params.memory }
            withLabel: mafft { cpus = 1 }
            withLabel: fasttree { cpus = 1 }
            withLabel: newick_utils { cpus = 1 }
            withLabel: raxml { cpus = params.cores }
            withLabel: upsetr { cpus = 1 }
        }

