process {
    withLabel: basics { cpus = 2; memory = '2 GB' }
    withLabel: bioruby { cpus = 2; memory = '2 GB' }
    withLabel: python3 { cpus = 80; memory = '8 GB' }
    withLabel: prokka { cpus = 8; memory = '4 GB' }
    withLabel: roary { cpus = 24; memory = '16 GB' }
    withLabel: mmseqs2 { cpus = 12; memory = '8 GB' }
    withLabel: glpk { cpus = 8; memory = '4 GB' }
    withLabel: mafft { cpus = 1; memory = '2 GB' }
    withLabel: fasttree { cpus = 1; memory = '2 GB' }
    withLabel: newick_utils { cpus = 1; memory = '2 GB' }
    withLabel: filter_alignment { cpus = 1; memory = '4 GB' }
    withLabel: nexus { cpus = 1; memory = '4 GB' }
    withLabel: iqtree { cpus = {32 * task.attempt}; memory = {32.GB * task.attempt}; errorStrategy = { task.exitStatus in 1 || 130..140 ? 'retry' : 'terminate' }; maxRetries = 2; }
    withLabel: upsetr { cpus = 1; memory = '8 GB' }
}
